[submodule "ds003_downsampled"]
	path = ds003_downsampled
	url = https://gin.g-node.org/bids_apps_test_data/ds003_downsampled
	datalad-id = 7cc05644-a1b9-409a-b484-373e1100ab07
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds003_downsampled
[submodule "bids_langloc_dataset"]
	path = bids_langloc_dataset
	url = https://gin.g-node.org/bids_apps_test_data/bids_langloc_dataset
	datalad-id = c171e66c-78f9-4f99-8f77-1d1095df34ce
	datalad-url = https://gin.g-node.org/bids_apps_test_data/bids_langloc_dataset
[submodule "hcp_example_bids"]
	path = hcp_example_bids
	url = https://gin.g-node.org/bids_apps_test_data/hcp_example_bids
	datalad-id = 1682ec9a-c0d0-48c8-9691-c1acd4c29713
	datalad-url = https://gin.g-node.org/bids_apps_test_data/hcp_example_bids
[submodule "ds114_reduced_with_derivatives"]
	path = ds114_reduced_with_derivatives
	url = https://gin.g-node.org/bids_apps_test_data/ds114_reduced_with_derivatives
	datalad-id = e3d1325f-d574-4538-bec1-a3309d3bf7fd
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_reduced_with_derivatives
[submodule "ds114_test2"]
	path = ds114_test2
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test2
	datalad-id = 08aa30f5-1136-4e6d-bcc6-c0e21e1cf6eb
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test2
[submodule "ds114_test1"]
	path = ds114_test1
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test1
	datalad-id = 3239be28-656a-43a0-b9c2-312f7a3e646a
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test1
[submodule "ds114_test1_freesurfer"]
	path = ds114_test1_freesurfer
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_freesurfer
	datalad-id = f417348a-3ba0-4adf-886d-438236915186
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_freesurfer
[submodule "ds114_test1_freesurfer_v6.0.0"]
	path = ds114_test1_freesurfer_v6.0.0
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_freesurfer_v6.0.0
	datalad-id = dca72589-9f16-405e-a26f-d31de62f6364
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_freesurfer_v6.0.0
[submodule "ds114_test1_with_freesurfer"]
	path = ds114_test1_with_freesurfer
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_with_freesurfer
	datalad-id = a9a72c14-e2a4-4914-8cc9-96d7716d6d95
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test1_with_freesurfer
[submodule "ds114_test2_freesurfer_v6.0.0"]
	path = ds114_test2_freesurfer_v6.0.0
	url = https://gin.g-node.org/bids_apps_test_data/ds114_test2_freesurfer_v6.0.0
	datalad-id = d94591ec-3a22-425e-9d4c-b59ac3b9e2b9
	datalad-url = https://gin.g-node.org/bids_apps_test_data/ds114_test2_freesurfer_v6.0.0
